/*
 * Student Name: Scott Green
 * File Name: styles.css
 * Date: May 03, 2025
 * Purpose: Provide overarching styling rules
 */

/* center the navigation horizontally */
/* https://stackoverflow.com/questions/1776915/how-can-i-center-an-absolutely-positioned-element-in-a-div */
.navbar {
  right: 15px;
  margin-inline: auto;
  width: fit-content;
  position: absolute;
}

@media screen and (min-width: 1162px) {
  .navbar {
    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content;
    position: absolute;
  }
}

.header-container {
  display: flex;
  color: blue;
  margin-left: 20px;
  align-items: center;
}


/* set the background image for main */
main {
  background-image: url('../public/assets/1014.jpg');
  margin-left: 15px;
  margin-right: 15px;
}

/*
 * https://stackoverflow.com/questions/206652/how-to-create-div-to-fill-all-space-between-header-and-footer-div
 * next four styles make the main content fill the screen between header and footer
 */
html, body, app-root {
  margin: 0;
  height: 98%;
  min-height: 98%;
}

body, app-root {
  display: flex;
  flex-direction: column;
}

header, footer {
  flex: none;
  font-family: "Tuffy", sans-serif;
}

main {
  overflow-y: scroll;
  flex: auto;
}

/* font color in main paragraphs should be white and centered by default */
main p, h1 {
  color: white;
  text-align: center;
  font-family: "Tuffy", sans-serif;
}

.bucketList {
  color: white;
  text-align: center;
  font-family: "Tuffy", sans-serif;
}

/* https://www.w3schools.com/howto/howto_css_list_without_bullets.asp */
.bucketList > ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

/* fix the footer at the bottom and span the screen horizontally */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: white;
  color: blue;
}

/* move the footer text to the right a few pixels */
footer p {
  margin-left: 20px;
}
